<div class="container">
    <div class="top-nav">
      <div class="logo">LoanLift</div>
      <div class="nav-links">
        <span routerLink="/admin/dashboard" 
        class="cursor-pointer px-4 py-2 rounded-md hover:bg-blue-500 hover:text-white transition-all duration-300"
        >Dashboard</span>
        <span routerLink="/admin/myaccount"
        class="cursor-pointer px-4 py-2 rounded-md hover:bg-blue-500 hover:text-white transition-all duration-300 ml-4"
        >My Account</span>
      </div>
      <div class="user-actions">
        <button class="logout-btn" (click)="onLogout()">
          Logout
        </button>
      </div>
    </div>
  
<router-outlet></router-outlet>
</div>