<div class="container">
    <!-- Top Navigation -->
    <div class="top-nav">
        <div class="logo">LoanLift</div>
        <div class="nav-links">
          <span routerLink="/partner/leads">Customers</span>
          <span routerLink="/partner/dashboard" >Dashboard</span>
          <span routerLink="/partner/myaccount">My Account</span>
        </div>
        <div class="user-actions">
          <button class="logout-btn" (click)="onLogout()">
            Logout
          </button>
        </div>
      </div>
  
    <!-- Content Area -->
    <div class="content">
      <div class="header-content">
        <h1>Dashboard</h1>
      </div>
  
      <div class="stats-container">
        <div class="stat-card">
          <h3>Total leads</h3>
          <p class="stat-value">0</p>
        </div>
  
        <div class="stat-card">
          <h3>Bank Rejected</h3>
          <p class="stat-value">0</p>
        </div>
  
        <div class="stat-card">
          <h3>Disbursement</h3>
          <p class="stat-value">0</p>
        </div>
  
        <div class="stat-card">
          <h3>Disbursment Amount</h3>
          <p class="stat-value">0</p>
        </div>
      </div>
    </div>
  </div>